:root {
  --primary-color: #163764;
  --primary-font: "Plus Jakarta Sans", sans-serif;
  --secondary-color: hsl(219, 14%, 63%);
}

.appContainer {
  padding: 20px;
  font-family: var(--primary-font);
}

.appHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notifications {
  position: relative;

  font-size: 15px;
}

.button {
  background-color: var(--primary-color);
  color: white;
  margin-left: 10px;
  padding: 4px 10px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  /* position: absolute; */
}

.leftHeader {
  display: flex;
  align-items: center;
}

header {
  padding: 12px;
  display: flex;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

a:hover {
  cursor: pointer;
  color: var(--primary-color);
}

p {
  color: #898a8d;
}

.markAsRead button {
  display: inline-block;
  background: none;
  border: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
  color: var(--secondary-color);
  font-size: inherit;
  font-family: inherit;
}

.markAsRead button:hover {
  cursor: pointer;
  color: var(--primary-color);
}

footer {
  opacity: 0.5;
  text-align: center;
}

@media (min-width: 768px) {
  .appContainer {
    padding-left: 20px;
  }

  .leftHeader {
    padding-left: auto;
  }

  .markAsRead {
    margin-right: 100px;
  }
}
