li {
  border: 2px solid white;
  padding: 2px;
  border-radius: 5px;
  margin: 2px;
  list-style: none;
}

td {
  color: hsl(219, 12%, 42%);
}

.unread {
  background-color: #f6fafd;
}

.unread .redDot {
  display: inline-block;
  border-radius: 5px;
  background: #f00;
  margin-left: 10px;
  width: 10px;
  height: 10px;
}

.notificationText {
  padding: 10px;
}

ul.container {
  align-items: center;
  padding-top: 20px;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a :hover {
  color: var(--primary-color);
}

.nameLink {
  color: black;
  font-weight: bold;
}

.postLink {
  color: hsl(219, 12%, 42%);
  font-weight: bold;
}

.chessLink {
  color: var(--primary-color);
  font-weight: bold;
}

.message {
  display: block;
  border: 1px solid;
  border-radius: 5px;
  padding: 30px;
  margin: 10px;
  text-decoration: none;
  color: hsl(219, 12%, 42%);
}

.message:hover {
  background-color: aliceblue;
}

img {
  max-width: 60px;
  max-height: 60px;
  padding: 10px;
}

.yourImage {
  margin-left: auto;
}

.rowLi {
  display: flex;
}
