li {
  border: 2px solid white;
  padding: 2px;
  border-radius: 5px;
  margin: 2px;
  list-style: none;
}

td {
  color: hsl(219, 12%, 42%);
}

.unread {
  background-color: #f6fafd;
}

.redDot ::after {
  position: absolute;
  border-radius: 5px;
  background: #f00;
  width: 10px;
  height: 10px;
}

ul.container {
  align-items: center;
  padding: 0;
}

p {
  padding: 0px;
}

a {
  text-decoration: none;
}

a :hover {
  color: var(--primary-color);
}

.nameLink {
  color: black;
  font-weight: bold;
}

.postLink {
  color: hsl(219, 12%, 42%);
  font-weight: bold;
}

.chessLink {
  color: var(--primary-color);
  font-weight: bold;
}

.message {
  display: block;
  border: 1px solid;
  border-radius: 5px;
  padding: 30px;
  margin: 10px;
  text-decoration: none;
  color: hsl(219, 12%, 42%);
}

img {
  max-width: 50px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
}
